*.iml
.gradle
local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build/
*/build/
*/*/build/
.gradle/
*/.gradle/
app/build/
feature_home/build/
feature_record/build/
feature_edit/build/
feature_profile/build/
lib_media/build/
DouyinLite/app/build/
DouyinLite/feature_home/build/
DouyinLite/feature_record/build/
DouyinLite/feature_edit/build/
DouyinLite/feature_profile/build/
DouyinLite/lib_media/build/
DouyinLite/.gradle/
